.bargraph {
  float: left;
  margin-left: 1.6rem;
  position: absolute;
    text{
      opacity: 0;
      font-family: 'IBM Plex Sans', sans-serif;
    fill:rgb(255, 255, 255);
    font-weight: 800;
    /* margin-left: 25rem; */
} 
.bar rect{
    fill:rgb(119, 119, 119);
    z-index: 0;
}
.bar:hover rect,
.bar:focus rect {
  fill:rgb(129, 0, 129);
  position: fixed;
  transition: 0.5s;
}
.bar:hover text,
.bar:focus text {
  opacity:1;
  transform: translateZ(1);
  z-index: 1;
  position: absolute;
  transition: 0.2s;
}
}

figcaption{
  color: aliceblue;
  margin-left: -10rem;
  font-weight: bolder;
}

.piechart figcaption {
  margin-left: 0;
}
.loginemail {
  margin-top: 10rem;
  margin-left: 6rem;
}

h1 {
  color:rgb(255, 255, 255)
}

h2 {
  color: rgb(255, 255, 255);
}

h4{
  font-family: 'IBM Plex Sans', sans-serif;
  color: aliceblue;
}

label {
  color:rgb(255, 255, 255);
  font-size:xx-large
}
button {
  color: rgb(73, 1, 73);
  background-color: rgb(255, 255, 255);
  border-radius: 13px;
  padding: 8px;
  font-size: larger;
}

button:hover{
  opacity:0.8;
  cursor:pointer;
  background-color:rgb(73, 1, 73);
  color: aqua;
  transition: 0.5s;
}

input {
  color:aqua;
  font-size:xx-large;
   border-radius: 10px;
    background-color: rgb(37, 0, 46);
}

.startpage{
  margin-left: 44rem;
  inline-size: auto;
  float: right;
}
.lines{
float:left;
margin-top: 3.3rem;
margin-left: 1rem;
position:absolute;
  text{
    fill:aliceblue
  }
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
    /* margin-left: 4rem; */
    background:  url('01-trame.svg') no-repeat;
    background-size: cover;
    background-color: rgb(37, 0, 46);
    transform: translateZ(0);
    z-index: 0;
    text-align-last: center;

  }
  
  .graph .labels.x-labels {
    text-anchor: middle;
  }
  
  .graph .labels.y-labels {
    text-anchor: end;
  }
  
  
  .graph {
    height: 800px;
    width: 600px;
  }
  
  .graph .grid {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 1;
  }
  
  .labels {
    font-size: 13px;
  }
  
  .label-title {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    fill:rgb(73, 1, 73);
  }

  .data {
    fill: red;
    stroke-width: 1; 
  }

  .piechart {
    margin-top: 1rem;
    margin-right: 8rem;
    float:right;
  }

  .pie {
    width: 300px;
    background: rgb(87, 87, 87);
    border-radius: 50%;
    z-index:1;
    /* margin-right: 12rem;.'' */
    /* position: absolute; */
  }
  
  .pie circle {
    fill: none;
    stroke: rgb(87, 87, 87);
    stroke-width: 32;
    animation: rotate 1.5s ease-in;
  }
